In [1]:
import pandas as pd

pd.read_csv('../Data/top_10_trendy_cats.csv')

               category     views
0                 Music  97097557
1         Entertainment  28047357
2                Comedy  16643490
3         Howto & Style  15926296
4        People & Blogs   7753285
5  Science & Technology   6537832
6      Film & Animation   6015279
7                Sports   2755539
8       News & Politics   1571196
9        Pets & Animals   1010302